<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.common.login">
    <select id="getLonginByLoginName" parameterType="java.lang.String" resultMap="com.example.boot_self_wt.domain.dao.LoginMapper.BaseResultMap">
      SELECT * FROM login WHERE login_name = #{loginName}
    </select>
</mapper>